.item-product {
    float:left;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}
    

.boton{
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

