.item-product {
    color: black;
    float:left;
    width: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    font-family:'Courier New', Courier, monospace;   
    border:solid 1px black;
}

    

.boton{
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contadorProd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
}

.contadorProd p{
    font-size: 30px;
}

.contadorProd button{
    padding: 1px;
    margin: 1px;
    font-size: 25px;
}

