.NavBar{
    background-color:rgb(68, 38, 92);
    color: blanchedalmond;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
}


.img{
    max-height: 50cm;
    max-height: 50px;

}
ul{
    list-style: none;
    display: flex;
}

li {
    margin: 0px 10px;

}

button{
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list{
    flex-direction: column;
}

.cart-widget {
    display: flex;
    cursor: pointer;
    margin: 10px;

}




.item-cart-product {
    display: flex;
    align-items: center;
    max-width: 400px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    justify-content: space-around;
}

.item-cart-product ul {
    display: flex;  

}

.item-cart-product img {
    width: 25%;
}

.cart-product__action {
    width: 10%;
    display: flex;
    align-items: center;
    
}








