.NavBar{
    background-color:rgb(68, 38, 92);
    color: blanchedalmond;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
}


.img{
    max-height: 50cm;
    max-height: 50px;

}
ul{
    list-style: none;
    display: flex;
}

li {
    margin: 0px 10px;

}

button{
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}





